# Defines the Chromium style for automatic reformatting.
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google

# Make sure code like:
# BEGIN_BYTESWAP_DATADESC()
#   FIELD(abc, int)
# END_BYTESWAP_DATADESC()
# gets correctly indented.
MacroBlockBegin: "^\
BEGIN_BYTESWAP_DATADESC|\
BEGIN_DATADESC|\
BEGIN_SIMPLE_DATADESC|\
IMPLEMENT_CLIENTCLASS_DT_NOBASE|\
IMPLEMENT_CLIENTCLASS_DT|\
IMPLEMENT_SERVERCLASS_ST_NOBASE|\
IMPLEMENT_SERVERCLASS_ST$"
MacroBlockEnd: "^\
END_BYTESWAP_DATADESC|\
END_DATADESC|\
END_DATADESC|\
END_RECV_TABLE|\
END_RECV_TABLE|\
END_SEND_TABLE|\
END_SEND_TABLE$"